.logo {

    -fx-background-image: url('../images/emergency-assistant-high-resolution-logo-transparent.png');
    /*-fx-background-image: url('/images/emergency-assistant-high-resolution-logo-transparent.png');*/
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain; /* Сохраняет исходный размер изображения */
    -fx-background-position: center; /* Центрирует изображение */

}

.bold-white-label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

